@charset "UTF-8";
/* Файл variables.scss */
/* Файл mixins.scss */
/* Файл scaffolding.scss */
@font-face {
  font-family: "Myriad Pro";
  src: url("/fonts/MyriadProRegular.woff") format("woff"), url("/fonts/MyriadProRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Myriad Pro";
  src: url("/fonts/MyriadProBold.woff") format("woff"), url("/fonts/MyriadProBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-family: "Myriad Pro", "Arial", sans-serif;
  color: #283645;
  font-style: normal;
  background-color: #ffffff; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.container {
  border: 1px solid orangered;
  width: 320px;
  margin: 0 auto; }

@media (min-width: 660px) {
  .container {
    width: 660px; } }

@media (min-width: 1200px) {
  .container {
    width: 1200px; } }

.page-header__logo-link:hover,
.page-header__logo-link:focus {
  color: #d22856; }

.page-header__logo-link:active {
  color: #6a757f; }

.main-nav {
  background-color: #283645;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff; }

.hide-menu {
  display: none; }

.page-header__logo-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 18px 20px; }

.main-nav__close {
  position: absolute;
  right: 20px;
  width: 24px;
  height: 23px;
  font-size: 0;
  border: 0;
  background-color: #283645;
  background-image: url("/img/menu-cross.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer; }

.main-nav__toggle {
  position: absolute;
  right: 20px;
  width: 50px;
  height: 24px;
  font-size: 0;
  border: 0;
  background-color: #283645;
  background-image: url("/img/menu-burger.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer; }

@media (min-width: 1200px) {
  .main-nav {
    display: flex;
    justify-content: space-between;
    padding: 0 120px; }
  .main-nav__toggle,
  .main-nav__close {
    display: none; }
  .main-nav__wrapper {
    display: block; } }

.site-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none; }

.site-list__item {
  padding: 16px 0;
  box-shadow: 0 1px 0 black, inset 0 1px rgba(255, 255, 255, 0.15);
  text-align: center; }

.site-list__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff; }

.site-list__link:hover,
.site-list__link:focus {
  color: #d22856; }

.site-list__link:active {
  color: #6a757f; }

.site-list__active {
  border-bottom: 2px solid #ffffff;
  cursor: default; }

.site-list__active:hover,
.site-list__active:focus,
.site-list__active:active {
  color: #ffffff; }

@media (min-width: 1200px) {
  .site-list {
    width: 645px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; } }

.download {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  padding: 0 20px;
  padding-top: 480px;
  margin-top: -70px;
  background-color: #283645;
  background-image: url("/img/back-mobile@1x.jpg");
  background-position: 0 0;
  background-repeat: no-repeat; }

.download__slogan {
  display: none; }

.download__button {
  display: inline-block;
  width: 280px;
  height: 55px;
  margin-bottom: 30px;
  padding: 15px 50px;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 25px; }

.download__button:hover,
.download__button:focus {
  color: #d22856;
  background-color: #ffffff; }

.download__button:active {
  color: #f1becc; }

.download__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none; }

.download__description {
  margin: 0;
  padding-bottom: 30px; }

@media (min-width: 660px) {
  .download {
    min-height: 548px;
    padding-top: 180px;
    background-image: url("/img/back-tablet@1x.jpg");
    text-align: center; }
  .download__wrapper {
    width: 50%; }
  .download__slogan {
    display: block;
    padding: 0 50px;
    font-size: 40px;
    line-height: 40px; }
  .download__button {
    margin-bottom: 42px; } }

@media (min-width: 1200px) {
  .download {
    padding-left: 120px;
    padding-right: 120px;
    min-height: 674px;
    background-image: url("/img/back-desktop@1x.jpg"); }
  .download__wrapper {
    width: 300px; }
  .download__slogan {
    font-size: 50px;
    line-height: 50px; } }

.info {
  text-align: center;
  margin: 0;
  padding: 0 30px;
  background-color: #f2f2f2; }

.info__promo-wrap {
  padding-top: 42px;
  font-size: 24px;
  line-height: 24px;
  color: #283645; }

.info__promo {
  margin: 0;
  margin-bottom: 40px; }

.info__list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 24px; }

.info__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px; }

.info__item:last-child {
  margin-bottom: 0; }

.info__title {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: 700; }

.info__image {
  align-self: center;
  order: 1;
  margin-top: 40px; }

.info__image--grey,
.info__image--pink,
.info__image--tablet {
  display: none; }

.info__description {
  margin: 0; }

@media (min-width: 660px) {
  .info {
    margin-bottom: 60px;
    padding-top: 55px; }
  .info__promo-wrap {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 120px; }
  .info__promo {
    margin: 0; }
  .info__promo--second {
    padding: 0 140px; }
  .info__image--tablet {
    display: block; }
  .info__image--smile {
    display: none; }
  .info__list-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .info__list {
    width: 310px;
    margin: 0; }
  .info__title {
    margin-bottom: 20px;
    line-height: 10px; } }

@media (min-width: 1200px) {
  .info {
    padding: 0 120px; }
  .info__promo-wrap {
    margin: 0 130px;
    font-size: 50px;
    line-height: 50px; }
  .info__list {
    width: 100%;
    display: flex;
    justify-content: space-between; }
  .info__item {
    width: 250px; }
  .info__title {
    font-size: 30px;
    line-height: 30px; }
  .info__image--tablet {
    display: none; }
  .info__image {
    display: inline-block;
    order: -1;
    margin-bottom: 50px; }
  .info__description {
    font-size: 18px;
    line-height: 30px;
    color: #283645; } }

.effect {
  display: none; }

@media (min-width: 660px) {
  .effect {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    padding: 0 20px; }
  .effect-wrap {
    width: 310px; }
  .effect__title {
    margin: 0;
    margin-bottom: 18px;
    font-size: 30px;
    line-height: 36px;
    color: #000000; }
  .effect__description {
    margin: 0;
    margin-bottom: 18px;
    font-size: 14px;
    line-height: 24px;
    color: #283645; }
  .effect__link {
    color: #d22856; } }

@media (min-width: 1200px) {
  .effect {
    margin-bottom: 190px;
    padding: 0 130px; }
  .effect-wrap {
    width: 570px; }
  .effect__description {
    font-size: 18px;
    line-height: 30px; } }

.slider__toggles {
  position: relative; }

.slider__toggle {
  position: absolute;
  top: 3px;
  width: 6px;
  height: 6px;
  padding: 0;
  font-size: 0;
  border: 0;
  background-position: 0 0;
  background-color: #bec2c7;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer; }

.slider__toggle--first {
  left: 40%; }

.slider__toggle--second {
  left: 48%; }

.slider__toggle--third {
  left: 56%; }

.slider__toggle--active {
  top: 0;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border: 3px solid #283645; }

.reviews {
  text-align: center;
  margin-bottom: 130px; }

.reviews__author-name {
  margin: 0;
  padding-top: 50px;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: 700;
  font-style: normal; }

.reviews__author-description {
  display: none; }

.reviews__text {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  font-weight: 400; }

.reviews__prev,
.reviews__next {
  display: none; }

@media (min-width: 660px) {
  .reviews__item {
    display: flex;
    flex-direction: column; }
  .reviews__author-name {
    padding: 0; }
  .reviews__author-description {
    display: block;
    margin: 0;
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 30px; }
  .reviews__text {
    margin: 0;
    margin-bottom: 40px;
    order: -1;
    font-size: 18px;
    line-height: 30px; } }

@media (min-width: 1200px) {
  .reviews {
    padding: 0 130px; }
  .reviews__author-name {
    font-size: 24px;
    line-height: 30px; }
  .reviews__author-description {
    font-size: 18px;
    line-height: 30px; }
  .reviews__text {
    position: relative;
    margin: 0 120px;
    margin-bottom: 40px; }
  .reviews__text::before {
    content: "";
    position: absolute;
    top: -120px;
    left: 46%;
    width: 79px;
    height: 64px;
    background-image: url("/img/quotes.svg");
    background-position: 0 0;
    background-repeat: no-repeat; }
  .reviews__prev,
  .reviews__next {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    border: 0; }
  .reviews__prev::before,
  .reviews__next::before {
    content: "";
    position: absolute;
    top: -210px;
    width: 22px;
    height: 42px;
    background-position: 0 0;
    background-repeat: no-repeat; }
  .reviews__prev::before {
    left: 50px;
    background-image: url("/img/left-arrow.svg"); }
  .reviews__next::before {
    right: 28px;
    background-image: url("/img/right-arrow.svg"); }
  .reviews__toggles {
    display: none; } }

.price__wrapper {
  padding: 0 20px; }

.price__table {
  width: 100%;
  border-collapse: collapse; }

.price__header {
  height: 100px;
  background-color: #283645;
  color: #ffffff;
  border: 2px solid #ffffff; }

.price__data--dummy,
.price__data--base,
.price__data--unlimited {
  display: none; }

.price__package {
  font-size: 16px;
  line-height: 30px;
  font-weight: 700; }

.price__value {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400; }

.price__option {
  width: 210px;
  height: 60px;
  text-align: center;
  font-size: 14px;
  line-height: 30px; }

.price__table td {
  border: 2px solid #f2f2f2; }

.price__checked {
  position: relative; }

.price__checked::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 17px;
  width: 31px;
  height: 26px;
  background-position: 0 0;
  background-repeat: no-repeat; }

.price__checked-yes::before {
  background-image: url("/img/yes.svg"); }

.price__checked-no::before {
  background-image: url("/img/no.svg"); }

.price__toggles {
  padding-top: 40px;
  padding-bottom: 75px; }

@media (min-width: 660px) {
  .price {
    margin-bottom: 120px; }
  .price__header {
    height: 80px; }
  .price__option {
    width: 150px;
    height: 45px; }
  .price__data--dummy,
  .price__data--base,
  .price__data--unlimited {
    display: table-cell; }
  .price__checked::before {
    top: 10px;
    left: 60px; }
  .price__toggles {
    display: none; } }

@media (min-width: 1200px) {
  .price {
    padding: 0 130px; }
  .price__header {
    height: 95px; }
  .price__option {
    width: 235px;
    height: 60px;
    font-size: 18px; }
  .price__package {
    font-size: 18px; }
  .price__value {
    font-size: 24px; }
  .price__checked::before {
    top: 18px;
    left: 100px; } }

.contacts {
  margin-bottom: 45px;
  padding: 0 20px;
  text-align: center;
  font-size: 24px;
  line-height: 30px; }

.contacts__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 30px;
  color: #283645;
  font-weight: 400; }

.contacts__item {
  margin-bottom: 25px; }

.contacts__item-title {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: #283645;
  font-weight: 700; }

.contacts__link {
  text-decoration: none;
  color: #d22856; }

@media (min-width: 660px) {
  .contacts__title {
    margin-bottom: 50px;
    font-size: 40px;
    line-height: 40px; }
  .contacts__wrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px; }
  .contacts__item {
    width: 250px;
    margin-bottom: 50px; }
  .contacts__item--address {
    margin-bottom: 0; } }

@media (min-width: 1200px) {
  .contacts {
    margin: 0 130px; }
  .contacts__item {
    margin-bottom: 0; }
  .contacts__title {
    font-size: 50px;
    line-height: 50px; }
  .contacts__item--email {
    order: 2; } }

.map {
  margin: 0;
  padding: 0; }

@media (min-width: 1200px) {
  .map {
    margin-bottom: 65px; } }

.page-footer {
  display: none;
  padding: 40px 20px; }

.inner-page .page-footer {
  display: block; }

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; }

.page-footer__logo {
  margin-bottom: 40px; }

.social__list {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 177px;
  margin: 0;
  padding: 0;
  list-style: none; }

.social__item {
  width: 51px;
  height: 51px;
  background-color: #ffffff;
  background-position: 0 0;
  background-repeat: no-repeat;
  border: 2px solid #e9ebec;
  border-radius: 50%;
  cursor: pointer; }

.social__item:hover,
.social__item:focus {
  border: 2px solid #283645; }

.social__item::before {
  content: "";
  position: absolute;
  top: 20px;
  width: 18px;
  height: 18px;
  background-position: 0 0;
  background-repeat: no-repeat; }

.social__item--twitter::before {
  left: 20px;
  background-image: url("/img/twitter.svg"); }

.social__item--facebook::before {
  left: 85px;
  background-image: url("/img/facebook.svg"); }

.social__item--youtube::before {
  left: 140px;
  background-image: url("/img/youtube.svg"); }

.page-footer__social {
  margin-bottom: 40px; }

.page-footer__copyright {
  width: 150px;
  padding: 12px 0;
  position: relative; }

.copyright__text {
  padding-left: 20px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #283645; }

.copyright__link::before {
  content: "";
  position: absolute;
  right: 0;
  width: 27px;
  height: 34px;
  background-image: url("/img/htmlacademy.svg");
  background-position: 0 0;
  background-repeat: no-repeat; }

@media (min-width: 660px) {
  .page-footer {
    display: block; }
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between; }
  .page-footer__logo,
  .page-footer__social,
  .page-footer__copyright {
    margin-bottom: 0; } }

@media (min-width: 1200px) {
  .page-footer {
    margin: 0 130px;
    margin-bottom: 70px; }
  .copyright__text {
    font-size: 18px; } }

.contest {
  margin-top: -66px;
  padding: 0 20px;
  padding-top: 66px;
  background-image: url("/img/back-mobile.jpg");
  background-position: 0 0;
  background-repeat: no-repeat; }

.contest__header {
  margin: 0;
  margin-top: 35px;
  margin-bottom: 100px;
  padding: 0 10px;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff; }

.contest__description-wrap {
  margin-bottom: 45px;
  text-align: center;
  font-size: 14px;
  line-height: 30px; }

.contest__description {
  margin: 0; }

.contest__appeal {
  display: none; }

.contest__form {
  display: flex;
  flex-direction: column; }

.contest__fieldset {
  width: 280px;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

.contest__title {
  text-align: center;
  margin-bottom: 40px;
  padding: 0 30px;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase; }

.contest__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.contest__label {
  padding-left: 22px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #d22856; }

.contest__input {
  padding-left: 20px;
  width: 100%;
  height: 60px;
  outline: none;
  box-sizing: border-box;
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #f2f2f2; }

.contest__input:hover {
  border: 2px solid #283645; }

.contest__input:focus {
  border: 2px solid #d22856; }

.contest__user-wrap {
  margin-bottom: 40px; }

.contest__application-wrap {
  order: 2;
  margin: 0 -20px;
  margin-bottom: 40px;
  padding: 40px 20px 50px 20px;
  background-color: #f2f2f2;
  background-position: 0 0;
  background-repeat: no-repeat; }

.contest__achievements-wrap {
  margin: 0 -20px;
  margin-bottom: 40px;
  padding: 40px 20px;
  background-color: #f2f2f2;
  background-position: 0 0;
  background-repeat: no-repeat; }

.contest__item--radio {
  margin-bottom: 50px; }

.contest__item--radio:last-child {
  margin-bottom: 0; }

.contest__item--checkbox {
  margin-bottom: 55px; }

.contest__item--checkbox:last-child {
  margin-bottom: 0; }

.contest__contacts-wrap {
  margin-bottom: 40px;
  order: 1; }

.contest__title--contacts {
  display: none; }

.contest__contacts-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.contest__contacts-item {
  display: flex;
  flex-direction: column-reverse; }

.contest__radio-label,
.contest__checkbox-label {
  position: relative;
  display: block;
  margin-left: 70px; }

.contest__checkbox-label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -70px;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  background-position: 6px 8px;
  background-repeat: no-repeat;
  border: 2px solid #e5e5e5; }

.contest__checkbox-label:hover::before {
  border: 2px solid #283645; }

.contest__checkbox-label:active::before {
  border: 2px solid #d22856; }

.contest__item--checkbox input[type="checkbox"]:checked + .contest__checkbox-label::before {
  background-image: url("/img/tick.svg");
  background-size: 22px 16px; }

.contest__radio-label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -70px;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  background-position: 6px 8px;
  background-repeat: no-repeat;
  border: 2px solid #e5e5e5;
  border-radius: 50%; }

.contest__radio-label:hover::before {
  border: 2px solid #283645; }

.contest__radio-label:active::before {
  border: 2px solid #d22856; }

.contest__item--radio input[type="radio"]:checked + .contest__radio-label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -58px;
  width: 15px;
  height: 15px;
  background-color: #d22856;
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 50%; }

.contest__emotions-wrap {
  order: 3;
  margin-bottom: 45px; }

.contest__title--emotions {
  margin-bottom: 20px; }

.contest__emotions-textarea {
  width: 100%;
  min-height: 200px;
  box-sizing: border-box;
  padding-top: 20px;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  border: 2px solid #e5e5e5; }

.contest__button-wrap {
  order: 4;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column; }

.contest-button {
  margin-bottom: 40px;
  height: 60px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2aab6d;
  border: 2px solid #2aab6d;
  border-radius: 5px; }

.contest-button:hover,
.contest-button:focus {
  background-color: #1c9b5e;
  cursor: pointer; }

.contest-button:active {
  color: #61b98f; }

.contest__legend {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: center;
  text-transform: uppercase; }

.contest__asterix {
  font-size: 18px;
  color: #d22856;
  vertical-align: sub; }

.contest__legend-span {
  display: none; }

@media (min-width: 660px) {
  .contest {
    background-image: url("/img/back-tablet.jpg"); }
  .contest__header {
    font-size: 50px;
    line-height: 50px;
    margin-top: 75px;
    margin-bottom: 150px; }
  .contest__description-wrap {
    padding: 80px 65px;
    font-size: 18px; }
  .contest__appeal {
    display: block;
    margin: 0; }
  .contest__fieldset {
    width: 620px; }
  .contest__title {
    line-height: 30px; }
  .contest__item {
    display: flex;
    align-items: center; }
  .contest__user-wrap {
    margin-bottom: 50px; }
  .contest__item--user {
    margin-bottom: 50px; }
  .contest__item--user:last-child {
    margin-bottom: 0; }
  .contest__label {
    padding: 0;
    padding-right: 20px; }
  .contest__application-wrap {
    order: 0;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    background-color: #ffffff; }
  .contest__application {
    border: 2px solid #f2f2f2; }
  .contest__title--application {
    margin: 0; }
  .contest__list-application {
    padding: 50px 0 60px 0; }
  .contest__radio-label {
    margin: 0;
    margin-left: 120px; }
  .contest__item--radio {
    margin-bottom: 50px; }
  .contest__contacts-wrap {
    order: 0;
    margin-bottom: 55px; }
  .contest__contacts {
    border: 2px solid #f2f2f2; }
  .contest__title--contacts {
    display: block; }
  .contest__contacts-item {
    position: relative;
    flex-direction: column;
    padding: 0 60px; }
  .contest__contacts-item::after {
    content: "";
    position: absolute;
    right: 60px;
    width: 60px;
    height: 60px;
    background-color: #e5e5e5;
    background-position: 20px 20px;
    background-repeat: no-repeat; }
  .contest__contacts-item--phone::after {
    background-image: url("/img/phone.svg");
    background-size: 20px 20px; }
  .contest__contacts-item--mail::after {
    background-image: url("/img/mail.svg");
    background-size: 18px 14px; }
  .contest__input--contacts {
    padding-right: 60px; }
  .contest__label--contacts {
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 35px; }
  .contest__achievements-wrap {
    margin: 0;
    margin-bottom: 55px;
    padding: 0;
    background-color: #ffffff; }
  .contest__achievements {
    border: 2px solid #f2f2f2; }
  .contest__title--achievements {
    margin: 0; }
  .contest__list--achievements {
    padding: 55px 0; }
  .contest__checkbox-label {
    margin-left: 120px; }
  .contest__emotions-wrap {
    order: 0;
    width: 620px; }
  .contest__emotions {
    border: 2px solid #f2f2f2; }
  .contest__emotions-textarea {
    margin: 0 60px 55px 60px;
    width: 100%;
    height: 190px; }
  .contest__button-wrap {
    margin-bottom: 80px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .contest-button {
    order: 0;
    margin: 0;
    width: 300px; }
  .contest__legend {
    order: 0;
    margin: 0; } }

@media (min-width: 1200px) {
  .contest {
    padding: 0 120px;
    padding-top: 66px;
    background-image: url("/img/back-desktop.jpg"); }
  .contest__header {
    padding: 0 220px; }
  .contest__form {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
  .contest__fieldset {
    width: auto; }
  .contest__user-wrap,
  .contest__application-wrap {
    width: 435px; }
  .contest__contacts-wrap,
  .contest__achievements-wrap,
  .contest__emotions-wrap,
  .contest__button-wrap {
    width: 100%; }
  .contest__contacts-list {
    padding: 0 60px;
    display: flex;
    justify-content: space-between; }
  .contest__contacts-item {
    padding: 0;
    width: 375px; }
  .contest__list--achievements {
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .contest__item--checkbox {
    width: 33%; }
  .contest__item--checkbox:last-child {
    margin-bottom: 55px; }
  .contest__emotions-textarea {
    margin-bottom: 40px;
    padding-left: 20px;
    min-height: 125px;
    text-align: left; }
  .contest__legend-span {
    display: inline; } }

.photo__main {
  margin-top: -66px;
  background-image: url("/img/back-mobile.jpg");
  background-position: 0 0;
  background-repeat: no-repeat; }

.photo__title {
  margin: 0;
  padding: 100px 50px 88px 50px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #ffffff; }

@media (min-width: 660px) {
  .photo__main {
    background-image: url("/img/back-tablet.jpg"); }
  .photo__title {
    padding: 185px 50px 145px 50px;
    font-size: 50px;
    line-height: 50px; } }

@media (min-width: 1200px) {
  .photo__main {
    background-image: url("/img/back-desktop.jpg"); }
  .photo__title {
    padding: 170px 400px 110px 400px; } }

.gallery__title {
  margin: 0;
  padding: 55px 20px;
  font-size: 14px;
  line-height: 30px;
  text-align: center; }

.gallery__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.gallery__description {
  margin: 0; }

.gallery__item {
  border: 1px solid orangered;
  margin: 0 20px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  background-color: #f2f2f2; }

.gallery__image--day {
  position: relative;
  margin: 0 -20px;
  background-color: #f2f2f2; }

.gallery__image--day::before {
  content: "Панорама дня";
  position: absolute;
  right: 20px;
  top: 0;
  padding-top: 10px;
  width: 140px;
  height: 36px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  align-content: center;
  color: #ffffff;
  background-color: #d22856;
  background-position: 0 0;
  background-repeat: no-repeat; }

.gallery__item-wrap {
  padding: 20px 18px 25px 18px; }

.gallery__author {
  font-weight: 700; }

.gallery__span {
  font-size: 12px;
  text-transform: uppercase; }

.gallery__likes {
  position: relative;
  margin-left: 30px;
  font-size: 12px;
  text-transform: uppercase;
  color: #d22856; }

.gallery__likes::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 0;
  width: 13px;
  height: 12px;
  background-image: url("/img/icon-heart.svg");
  background-position: 0 0;
  background-repeat: no-repeat; }

@media (min-width: 660px) {
  .gallery__title {
    padding: 90px 90px 80px 90px;
    font-size: 18px; }
  .gallery__list {
    border: 1px solid orangered;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .gallery__item {
    border: 1px solid orangered;
    margin: 0;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .gallery__item--day {
    margin-bottom: 50px;
    width: auto; }
  .gallery__image--day {
    margin: 0; }
  .gallery__wrap--day::before {
    top: 55px; }
  .gallery__item-wrap {
    border: 1px solid orangered;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 30px 30px 30px 27px; }
  .gallery__author-wrap {
    margin-bottom: 20px; }
  .gallery__description--day {
    order: 1; }
  .gallery__likes {
    margin: 0; }
  .gallery__likes::before {
    top: 5px;
    left: 225px; } }

@media (min-width: 1200px) {
  .gallery__title {
    padding: 90px 300px; }
  .gallery__list {
    margin: 0 130px; }
  .gallery__item {
    margin-bottom: 55px; } }

.upload {
  border: 1px solid orangered; }

.upload__title {
  margin: 0;
  padding: 45px 20px;
  font-size: 14px;
  line-height: 30px;
  text-align: center; }

.upload__wrap {
  background-color: #f2f2f2;
  padding: 20px 20px 40px 20px; }

.upload__image-wrap {
  border: 1px solid orangered;
  margin-bottom: 100px; }

.upload__list {
  border: 1px solid orangered;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  list-style: none; }

.upload__item {
  position: relative;
  border-bottom: 2px solid #e9ebec;
  padding: 0 20px; }

.upload__range {
  width: 100%; }

.upload__item::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 48px;
  height: 44px;
  background-position: 0 0;
  background-repeat: no-repeat; }

.upload__range--contrast,
.upload__range--crop {
  display: none; }

.upload__item--crop::before {
  top: -70px;
  left: 35px;
  width: 49px;
  height: 43px;
  background-image: url("/img/crop.svg"); }

.upload__item--fill::before {
  top: -70px;
  left: 118px;
  width: 44px;
  height: 44px;
  background-image: url("/img/fill.svg"); }

.upload__item--contrast::before {
  top: -67px;
  left: 205px;
  width: 32px;
  height: 32px;
  background-image: url("/img/contrast.svg"); }

.upload__item input[type="range"] {
  height: 2px;
  outline: none;
  background-color: #283645; }

.upload__item input[type="range"]::-webkit-slider-thumb {
  width: 14px;
  height: 14px;
  background-color: #f2f2f2;
  border: 2px solid #d22856;
  border-radius: 50%; }

.upload__item input[type="range"]::-webkit-slider-thumb:hover,
.upload__item input[type="range"]::-webkit-slider-thumb:focus,
.upload__item input[type="range"]::-webkit-slider-thumb:active {
  cursor: pointer;
  background-color: #d22856; }

.upload__button-wrap {
  border: 1px solid orangered;
  display: flex;
  flex-direction: column; }

.upload__button {
  padding: 15px 0;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  background-color: #f2f2f2;
  border-radius: 25px; }

.upload__button--submit {
  margin-bottom: 12px;
  color: #d22856;
  border: 3px solid #d22856; }

.upload__button--submit:hover,
.upload__button--submit:focus {
  color: #ffffff;
  background-color: #d22856; }

.upload__button--submit:active {
  color: #f1becc; }

.upload__button--cancel {
  color: #dddfe0;
  border: 3px solid #dddfe0; }

.upload__button--cancel:hover,
.upload__button--cancel:focus {
  color: #b5b9be;
  border: 3px solid #b5b9be; }

.upload__button--cancel:active {
  color: #cbced2;
  background-color: #b5b9be; }

@media (min-width: 660px) {
  .upload__title {
    padding: 70px 95px;
    font-size: 18px; }
  .upload__wrap {
    display: flex;
    justify-content: space-between;
    padding: 55px 20px; }
  .upload__image-wrap {
    border: 1px solid orangered;
    margin: 0;
    width: 300px;
    box-sizing: border-box; }
  .upload__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0 20px;
    width: 300px;
    box-sizing: border-box; }
  .upload__item {
    padding: 20px 0; }
  .upload__range {
    margin-left: 80px;
    width: 200px; }
  .upload__range--crop,
  .upload__range--contrast {
    display: inline-block; }
  .upload__item::before {
    top: 30px;
    left: 28px; }
  .upload__item--crop::before {
    width: 22px;
    height: 22px; }
  .upload__item--fill::before {
    width: 24px;
    height: 22px; }
  .upload__item--contrast::before {
    width: 16px;
    height: 16px; } }

@media (min-width: 1200px) {
  .upload {
    margin: 0 130px; }
  .upload__wrap {
    padding: 55px 60px 55px 80px; }
  .upload__form {
    width: 410px; }
  .upload__range {
    margin-left: 90px;
    width: 290px; }
  .upload__button-wrap {
    flex-direction: row;
    justify-content: space-between; }
  .upload__button {
    width: 180px;
    margin: 0; } }

/*# sourceMappingURL=style.css.map */