.contacts {
  margin-bottom: 45px;
  padding: 0 20px;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
}

.contacts__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 30px;
  color: $bg-darkblue;
  font-weight: 400;
}

.contacts__item {
  margin-bottom: 25px;
}

.contacts__item-title {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: $bg-darkblue;
  font-weight: 700;
}

.contacts__link {
  text-decoration: none;
  color: $bg-darkred;
}

@media (min-width: $tablet-width) {
  .contacts__title {
    margin-bottom: 50px;
    font-size: 40px;
    line-height: 40px;
  }

  .contacts__wrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  .contacts__item {
    width: 250px;
    margin-bottom: 50px;
  }

  .contacts__item--address {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    margin: 0 130px;
  }

  .contacts__item {
    margin-bottom: 0;
  }

  .contacts__title {
    font-size: 50px;
    line-height: 50px;
  }

  .contacts__item--email {
    order: 2;
  }
}
