.container {
  border: 1px solid orangered;

  width: $mobile-width;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .container {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: $desktop-width;
  }
}
