.container {
  max-width: $mobile-width;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .container {
    max-width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: $desktop-width;
  }
}
