.contest {
  margin-top: -66px;
  padding: 0 20px;
  padding-top: 66px;
  background-image: url('../img/back-mobile.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
}

.contest__header {
  margin: 0;
  margin-top: 35px;
  margin-bottom: 100px;
  padding: 0 10px;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $bg-white;
}

.contest__description-wrap {
  margin-bottom: 45px;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
}

.contest__description {
  margin: 0;
}

.contest__appeal {
  display: none;
}

.contest__form {
  display: flex;
  flex-direction: column;
}

.contest__fieldset {
  width: 280px;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.contest__title {
  text-align: center;
  margin-bottom: 40px;
  padding: 0 30px;
  font-size: 14px;
  line-height: 18px;
  color: $bg-darkred;
  text-transform: uppercase;
}

.contest__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contest__label {
  // border: 1px solid orangered;

  padding-left: 22px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $bg-darkred;
}

.contest__input {
  padding-left: 20px;
  width: 100%;
  height: 60px;
  outline: none;
  box-sizing: border-box;
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid $bg-lightgrey;
}

.contest__input:hover {
  border: 2px solid $bg-darkblue;
}

.contest__input:focus {
  border: 2px solid $bg-darkred;
}

.contest__user-wrap {
  // border: 1px solid orangered;
  margin-bottom: 40px;
}

.contest__application-wrap {
  // border: 1px solid orangered;
  order: 2;
  margin: 0 -20px;
  margin-bottom: 40px;
  padding: 40px 20px 50px 20px;
  background-color: $bg-lightgrey;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.contest__achievements-wrap {
  // border: 1px solid orangered;
  margin: 0 -20px;
  margin-bottom: 40px;
  padding: 40px 20px;
  background-color: $bg-lightgrey;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.contest__item--radio {
  margin-bottom: 50px;
}

.contest__item--radio:last-child {
  margin-bottom: 0;
}

.contest__item--checkbox {
  // border: 1px solid orangered;
  margin-bottom: 55px;
}

.contest__item--checkbox:last-child {
  margin-bottom: 0;
}

.contest__contacts-wrap {
  // border: 1px solid orangered;
  margin-bottom: 40px;
  order: 1;
}

.contest__title--contacts {
  display: none;
}

.contest__contacts-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contest__contacts-item {
  display: flex;
  flex-direction: column-reverse;
}

.contest__radio-label,
.contest__checkbox-label {
  position: relative;
  display: block;
  margin-left: 70px;
}

.contest__checkbox-label::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -70px;
  width: 35px;
  height: 35px;
  background-color: $bg-white;
  background-position: 6px 8px;
  background-repeat: no-repeat;
  border: 2px solid $lightgrey;
}

.contest__checkbox-label:hover::before {
  border: 2px solid $bg-darkblue;
}

.contest__checkbox-label:active::before {
  border: 2px solid $bg-darkred;
}

.contest__item--checkbox
  input[type='checkbox']:checked
  + .contest__checkbox-label::before {
  background-image: url('../img/tick.svg');
  background-size: 22px 16px;
}

.contest__radio-label::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -70px;
  width: 35px;
  height: 35px;
  background-color: $bg-white;
  background-position: 6px 8px;
  background-repeat: no-repeat;
  border: 2px solid $lightgrey;
  border-radius: 50%;
}

.contest__radio-label:hover::before {
  border: 2px solid $bg-darkblue;
}

.contest__radio-label:active::before {
  border: 2px solid $bg-darkred;
}

.contest__item--radio
  input[type='radio']:checked
  + .contest__radio-label::after {
  content: '';
  position: absolute;
  top: 7px;
  left: -58px;
  width: 15px;
  height: 15px;
  background-color: $bg-darkred;
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.contest__emotions-wrap {
  // border: 1px solid orangered;
  order: 3;
  margin-bottom: 45px;
}

.contest__title--emotions {
  margin-bottom: 20px;
}

.contest__emotions-textarea {
  width: 100%;
  min-height: 200px;
  box-sizing: border-box;
  padding-top: 20px;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  color: $bg-darkblue;
  border: 2px solid $lightgrey;
}

.contest__button-wrap {
  // border: 1px solid orangered;
  order: 4;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.contest-button {
  margin-bottom: 40px;
  height: 60px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: $bg-white;
  background-color: $bg-green;
  border: 2px solid $bg-green;
  border-radius: 5px;
}

.contest-button:hover,
.contest-button:focus {
  background-color: $bg-darkgreen;
  cursor: pointer;
}

.contest-button:active {
  color: $bg-lightgreen;
}

.contest__legend {
  font-size: 14px;
  line-height: 30px;
  color: $bg-darkblue;
  text-align: center;
  text-transform: uppercase;
}

.contest__asterix {
  font-size: 18px;
  color: $bg-darkred;
  vertical-align: sub;
}

.contest__legend-span {
  display: none;
}

@media (min-width: $tablet-width) {
  .contest {
    background-image: url('../img/back-tablet.jpg');
  }

  .contest__header {
    font-size: 50px;
    line-height: 50px;
    margin-top: 75px;
    margin-bottom: 150px;
  }

  .contest__description-wrap {
    padding: 80px 65px;
    font-size: 18px;
  }

  .contest__appeal {
    display: block;
    margin: 0;
  }

  .contest__fieldset {
    width: 620px;
  }

  .contest__title {
    line-height: 30px;
  }

  .contest__item {
    display: flex;
    align-items: center;
  }

  .contest__user-wrap {
    margin-bottom: 50px;
  }

  .contest__item--user {
    margin-bottom: 50px;
  }

  .contest__item--user:last-child {
    margin-bottom: 0;
  }

  .contest__label {
    padding: 0;
    padding-right: 20px;
  }

  .contest__application-wrap {
    order: 0;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    background-color: $bg-white;
  }

  .contest__application {
    border: 2px solid $bg-lightgrey;
  }

  .contest__title--application {
    margin: 0;
  }

  .contest__list-application {
    padding: 50px 0 60px 0;
  }

  .contest__radio-label {
    margin: 0;
    margin-left: 120px;
  }

  .contest__item--radio {
    margin-bottom: 50px;
  }

  .contest__contacts-wrap {
    order: 0;
    margin-bottom: 55px;
  }

  .contest__contacts {
    border: 2px solid $bg-lightgrey;
  }

  .contest__title--contacts {
    display: block;
  }

  .contest__contacts-item {
    position: relative;
    flex-direction: column;
    padding: 0 60px;
  }

  .contest__contacts-item::after {
    content: '';
    position: absolute;
    right: 60px;
    width: 60px;
    height: 60px;
    background-color: $lightgrey;
    background-position: 20px 20px;
    background-repeat: no-repeat;
  }

  .contest__contacts-item--phone::after {
    background-image: url('../img/phone.svg');
    background-size: 20px 20px;
  }

  .contest__contacts-item--mail::after {
    background-image: url('../img/mail.svg');
    background-size: 18px 14px;
  }

  .contest__input--contacts {
    padding-right: 60px;
  }

  .contest__label--contacts {
    // border: 1px solid orangered;
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 35px;
  }

  .contest__achievements-wrap {
    margin: 0;
    margin-bottom: 55px;
    padding: 0;
    background-color: $bg-white;
  }

  .contest__achievements {
    border: 2px solid $bg-lightgrey;
  }

  .contest__title--achievements {
    margin: 0;
  }

  .contest__list--achievements {
    padding: 55px 0;
  }

  .contest__checkbox-label {
    margin-left: 120px;
  }

  .contest__emotions-wrap {
    order: 0;
    width: 620px;
  }

  .contest__emotions {
    border: 2px solid $bg-lightgrey;
  }

  .contest__emotions-textarea {
    margin: 0 60px 55px 60px;
    width: 100%;
    height: 190px;
  }

  .contest__button-wrap {
    // border: 1px solid orangered;
    margin-bottom: 80px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .contest-button {
    // border: 1px solid orangered;
    order: 0;
    margin: 0;
    width: 300px;
  }

  .contest__legend {
    // border: 1px solid orangered;
    order: 0;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .contest {
    padding: 0 120px;
    padding-top: 66px;
    background-image: url('../img/back-desktop.jpg');
  }

  .contest__header {
    padding: 0 220px;
  }

  .contest__form {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .contest__fieldset {
    width: auto;
  }

  .contest__user-wrap,
  .contest__application-wrap {
    width: 435px;
  }

  .contest__contacts-wrap,
  .contest__achievements-wrap,
  .contest__emotions-wrap,
  .contest__button-wrap {
    width: 100%;
  }

  .contest__contacts-list {
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
  }

  .contest__contacts-item {
    padding: 0;
    width: 375px;
  }

  .contest__list--achievements {
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .contest__item--checkbox {
    width: 33%;
  }

  .contest__item--checkbox:last-child {
    margin-bottom: 55px;
  }

  .contest__emotions-textarea {
    margin-bottom: 40px;
    padding-left: 20px;
    min-height: 125px;
    text-align: left;
  }

  .contest__legend-span {
    display: inline;
  }
}
