.download {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  padding: 0 20px;
  padding-top: 480px;
  margin-top: -70px;

  background-color: $bg-darkblue;
  background-image: url("/img/back-mobile@1x.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.download__slogan {
  display: none;
}

.download__button {
  display: inline-block;
  width: 280px;
  height: 55px;
  margin-bottom: 30px;
  padding: 15px 50px;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 25px;
}

.download__button:hover,
.download__button:focus {
  color: $bg-darkred;
  background-color: $bg-white;
}

.download__button:active {
  color: $bg-lightred;
}

.download__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}

.download__description {
  margin: 0;
  padding-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .download {
    min-height: 548px;
    padding-top: 180px;
    background-image: url("/img/back-tablet@1x.jpg");

    text-align: center;
  }

  .download__wrapper {
    width: 50%;
  }

  .download__slogan {
    display: block;
    padding: 0 50px;
    font-size: 40px;
    line-height: 40px;
  }

  .download__button {
    margin-bottom: 42px;
  }
}

@media (min-width: $desktop-width) {
  .download {
    padding-left: 120px;
    padding-right: 120px;
    min-height: 674px;
    background-image: url("/img/back-desktop@1x.jpg");
  }

  .download__wrapper {
    width: 300px;
  }

  .download__slogan {
    font-size: 50px;
    line-height: 50px;
  }
}
