.main-nav {
  background-color: $bg-darkblue;
  margin-bottom: 1px;

  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
}

.hide-menu {
  display: none;
}

.page-header__logo-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 18px 20px;
}

.main-nav__close {
  position: absolute;
  right: 20px;
  width: 24px;
  height: 23px;
  font-size: 0;
  border: 0;
  background-color: $bg-darkblue;
  background-image: url("/img/menu-cross.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
}

.main-nav__toggle {
  position: absolute;
  right: 20px;
  width: 50px;
  height: 24px;
  font-size: 0;
  border: 0;
  background-color: $bg-darkblue;
  background-image: url("/img/menu-burger.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
}

@media (min-width: $desktop-width) {
  .main-nav {
    display: flex;
    justify-content: space-between;
    padding: 0 120px;
  }

  .main-nav__toggle,
  .main-nav__close {
    display: none;
  }

  .main-nav__wrapper {
    display: block;
  }
}
