.page-footer {
  display: none;
  padding: 40px 20px;
}

.inner-page .page-footer {
  display: block;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  margin-bottom: 40px;
}

.social__list {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 177px;

  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item {
  width: 51px;
  height: 51px;
  background-color: $bg-white;
  background-position: 0 0;
  background-repeat: no-repeat;
  border: 2px solid $bg-grey;
  border-radius: 50%;
  cursor: pointer;
}

.social__item:hover,
.social__item:focus {
  border: 2px solid $bg-darkblue;
}

.social__item::before {
  content: "";
  position: absolute;
  top: 20px;
  width: 18px;
  height: 18px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.social__item--twitter::before {
  left: 20px;
  background-image: url("/img/twitter.svg");
}

.social__item--facebook::before {
  left: 85px;
  background-image: url("/img/facebook.svg");
}

.social__item--youtube::before {
  left: 140px;
  background-image: url("/img/youtube.svg");
}

.page-footer__social {
  margin-bottom: 40px;
}

.page-footer__copyright {
  width: 150px;
  padding: 12px 0;
  position: relative;
}

.copyright__text {
  padding-left: 20px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $bg-darkblue;
}

.copyright__link::before {
  content: "";
  position: absolute;
  right: 0;
  width: 27px;
  height: 34px;
  background-image: url("/img/htmlacademy.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: block;
    // padding: 35px 20px;
  }

  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .page-footer__logo,
  .page-footer__social,
  .page-footer__copyright {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    margin: 0 130px;
    margin-bottom: 70px;
  }

  .copyright__text {
    font-size: 18px;
  }
}
