.price__wrapper {
  padding: 0 20px;
}

.price__table {
  width: 100%;
  border-collapse: collapse;
}

.price__header {
  height: 100px;
  background-color: $bg-darkblue;
  color: $bg-white;
  border: 2px solid $bg-white;
}

.price__data--dummy,
.price__data--base,
.price__data--unlimited {
  display: none;
}

.price__package {
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
}

.price__value {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.price__option {
  width: 210px;
  height: 60px;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
}

.price__table td {
  border: 2px solid $bg-lightgrey;
}

.price__checked {
  position: relative;
}

.price__checked::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 17px;
  width: 31px;
  height: 26px;
  // background-color: orange;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.price__checked-yes::before {
  background-image: url("/img/yes.svg");
}

.price__checked-no::before {
  background-image: url("/img/no.svg");
}

.price__toggles {
  padding-top: 40px;
  padding-bottom: 75px;
}

@media (min-width: $tablet-width) {
  .price {
    margin-bottom: 120px;
  }

  .price__header {
    height: 80px;
  }

  .price__option {
    width: 150px;
    height: 45px;
  }

  .price__data--dummy,
  .price__data--base,
  .price__data--unlimited {
    display: table-cell;
  }

  .price__checked::before {
    top: 10px;
    left: 60px;
  }

  .price__toggles {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .price {
    padding: 0 130px;
  }

  .price__header {
    height: 95px;
  }

  .price__option {
    width: 235px;
    height: 60px;
    font-size: 18px;
  }

  .price__package {
    font-size: 18px;
  }

  .price__value {
    font-size: 24px;
  }

  .price__checked::before {
    top: 18px;
    left: 100px;
  }
}
