.site-list {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__item {
  padding: 16px 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 1), inset 0 1px rgba(255, 255, 255, 0.15);
  text-align: center;
}

.site-list__link {
  text-decoration: none;
  text-transform: uppercase;
  color: $bg-white;
}

.site-list__link:hover,
.site-list__link:focus {
  color: $bg-darkred;
}

.site-list__link:active {
  color: $bg-blue;
}

.site-list__active {
  border-bottom: 2px solid #ffffff;
  cursor: default;
}

.site-list__active:hover,
.site-list__active:focus,
.site-list__active:active {
  color: $bg-white;
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 645px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
