.upload__title {
  margin: 0;
  padding: 45px 20px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.upload__wrap {
  background-color: $bg-lightgrey;
  padding: 20px 20px 40px 20px;
}

.upload__image-wrap {
  // border: 1px solid orangered;
  margin-bottom: 100px;
}

.upload__list {
  // border: 1px solid orangered;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  list-style: none;
}

.upload__item {
  position: relative;
  border-bottom: 2px solid $bg-grey;
  padding: 0 20px;
}

.upload__range {
  width: 100%;
}

.upload__item::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  width: 48px;
  height: 44px;
  // background-color: orange;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.upload__range--contrast,
.upload__range--crop {
  display: none;
}

.upload__item--crop::before {
  top: -70px;
  left: 35px;
  width: 49px;
  height: 43px;
  background-image: url('../img/crop.svg');
}

.upload__item--fill::before {
  top: -70px;
  left: 118px;
  width: 44px;
  height: 44px;
  background-image: url('../img/fill.svg');
}

.upload__item--contrast::before {
  top: -67px;
  left: 205px;
  width: 32px;
  height: 32px;
  background-image: url('../img/contrast.svg');
}

.upload__item input[type='range'] {
  height: 2px;
  outline: none;
  -webkit-appearance: none;
  background-color: $bg-darkblue;
}

.upload__item input[type='range']::-webkit-slider-thumb {
  width: 14px;
  height: 14px;
  -webkit-appearance: none;
  background-color: $bg-lightgrey;
  border: 2px solid $bg-darkred;
  border-radius: 50%;
}

.upload__item input[type='range']::-webkit-slider-thumb:hover,
.upload__item input[type='range']::-webkit-slider-thumb:focus,
.upload__item input[type='range']::-webkit-slider-thumb:active {
  cursor: pointer;
  background-color: $bg-darkred;
}

.upload__button-wrap {
  // border: 1px solid orangered;
  display: flex;
  flex-direction: column;
}

.upload__button {
  padding: 15px 0;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  background-color: $bg-lightgrey;
  border-radius: 25px;
}

.upload__button--submit {
  margin-bottom: 12px;
  color: $bg-darkred;
  border: 3px solid $bg-darkred;
}

.upload__button--submit:hover,
.upload__button--submit:focus {
  color: $bg-white;
  background-color: $bg-darkred;
}

.upload__button--submit:active {
  color: $bg-lightred;
}

.upload__button--cancel {
  color: $btn-grey;
  border: 3px solid $btn-grey;
}

.upload__button--cancel:hover,
.upload__button--cancel:focus {
  color: $btn-greyhover;
  border: 3px solid $btn-greyhover;
}

.upload__button--cancel:active {
  color: $btn-greyactive;
  background-color: $btn-greyhover;
}

@media (min-width: $tablet-width) {
  .upload__title {
    padding: 70px 95px;
    font-size: 18px;
  }

  .upload__wrap {
    display: flex;
    justify-content: space-between;
    padding: 55px 20px;
  }

  .upload__image-wrap {
    // border: 1px solid orangered;
    margin: 0;
    width: 300px;
    box-sizing: border-box;
  }

  .upload__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0 20px;
    width: 300px;
    box-sizing: border-box;
  }

  .upload__item {
    padding: 20px 0;
  }

  .upload__range {
    margin-left: 80px;
    width: 200px;
  }

  .upload__range--crop,
  .upload__range--contrast {
    display: inline-block;
  }

  .upload__item::before {
    top: 30px;
    left: 28px;
  }

  .upload__item--crop::before {
    width: 22px;
    height: 22px;
  }

  .upload__item--fill::before {
    width: 24px;
    height: 22px;
  }

  .upload__item--contrast::before {
    width: 16px;
    height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .upload {
    margin: 0 130px;
  }

  .upload__wrap {
    padding: 55px 60px 55px 80px;
  }

  .upload__form {
    width: 410px;
  }

  .upload__range {
    margin-left: 90px;
    width: 290px;
  }

  .upload__button-wrap {
    flex-direction: row;
    justify-content: space-between;
  }

  .upload__button {
    width: 180px;
    margin: 0;
  }
}
