/* Файл scaffolding.scss */

@font-face {
  font-family: "Myriad Pro";
  src: url("/fonts/MyriadProRegular.woff") format("woff"),
    url("/fonts/MyriadProRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("/fonts/MyriadProBold.woff") format("woff"),
    url("/fonts/MyriadProBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 30px;
  font-family: "Myriad Pro", "Arial", sans-serif;
  color: #283645;
  font-style: normal;

  background-color: $bg-white;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
