$bg-white: #ffffff;
$bg-black: #000000;
$bg-darkred: #d22856;
$bg-lightred: #e06989;
$bg-lightred: #f1becc;
$lightgrey: #e5e5e5;
$bg-lightgrey: #f2f2f2;
$bg-grey: #e9ebec;
$btn-grey: #dddfe0;
$btn-greyhover: #b5b9be;
$btn-greyactive: #cbced2;
$bg-darkblue: #283645;
$bg-blue: #6a757f;
$bg-green: #2aab6d;
$bg-darkgreen: #1c9b5e;
$bg-lightgreen: #61b98f;
$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 1200px;
